<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dog" class="juejin.di.bean.Dog"></bean>

    <bean id="person" class="juejin.di.bean.Person">
        <property name="pet" ref="dog"></property>
        <property name="name" value="Chengyunlai"></property>
    </bean>
</beans>